.ul {
    list-style-type: none;
    margin-left: 200px;
}

.list {
    display: inline-block;
}

.btn {
    background-color: lightgrey;
    margin-left: 5px;
    border: none;
    font-size: 15px;
    padding: 5px 10px;
    border-radius: 8px;
}

.btn:hover {
    background-color: rgb(53, 154, 236);
}

.btn:focus {
    background-color: rgb(53, 154, 236);
}